{% extends "account/base.html" %}
{% block content %}
<div class="container mt-5">
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Sponsor</a>
            </div>

            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                   href="{% url 'application-update' object.id %}">Validate</a>
            </div>

        </div>
        <h2 class="article-title">{{ object.applicant_name }}</h2>
        <p class="article-content">{{ object.applicant_email }}</p>
    </div>
</article>
</div>
{% endblock content %}